.wrapper {
  width: calc(100% - 240px);
  position: fixed;
  top: calc(66px + 56px);
  right: 0;
  bottom: 0;
  // background-color: aquamarine;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: start;
  align-items: center;

  &::-webkit-scrollbar {
    width: 4px;
    background-clip: content-box;
    background-color: rgba(22 24 35 / 3%);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(22 24 35 / 12%);
  }
}

.no-results {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #999;
  font-weight: 400;
}
