.wrapper {
    height: 56px;
    background-color: rgba(22 24 35 / 2%);
    display: flex;
    justify-content: flex-start;
    padding-left: 22px;
    position: fixed;
    right: 0;
    top: 66px;
    left: 240px;
    z-index: 1;
}
